<!--
Rover Arm Xacro file 
(Version 1)
Without using LinkForge
-->

<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_arm">
    <xacro:property name="stand_mass"        value="1.897"/>
    <xacro:property name="base_mass"         value="1.062"/>
    <xacro:property name="shoulder_mass"     value="0.505"/>
    <xacro:property name="elbow_mass"        value="2.571"/>
    <xacro:property name="wrist_mass"        value="0.45"/>
    <xacro:property name="palm_mass"         value="0.453"/>
    <xacro:property name="finger_mass"       value="0.132"/>

    <xacro:property name="stand_com_x"       value="${30.61    / 1000}"/>
    <xacro:property name="stand_com_y"       value="${-15.316  / 1000}"/>
    <xacro:property name="stand_com_z"       value="${26.454   / 1000}"/>

    <xacro:property name="base_com_x"        value="${45.901   / 1000}"/>
    <xacro:property name="base_com_y"        value="${-1.015   / 1000}"/>
    <xacro:property name="base_com_z"        value="${-0.874   / 1000}"/>

    <xacro:property name="shoulder_com_x"    value="${139.602  / 1000}"/>
    <xacro:property name="shoulder_com_y"    value="${31.085   / 1000}"/>
    <xacro:property name="shoulder_com_z"    value="${242.064  / 1000}"/>

    <xacro:property name="elbow_com_x"       value="${106.918  / 1000}"/>
    <xacro:property name="elbow_com_y"       value="${-74.613  / 1000}"/>
    <xacro:property name="elbow_com_z"       value="${-58.05   / 1000}"/>

    <xacro:property name="wrist_com_x"       value="${45.991   / 1000}"/>
    <xacro:property name="wrist_com_y"       value="${-9.299   / 1000}"/>
    <xacro:property name="wrist_com_z"       value="${-7.636   / 1000}"/>

    <xacro:property name="palm_com_x"        value="${32.939   / 1000}"/>
    <xacro:property name="palm_com_y"        value="${0.255    / 1000}"/>
    <xacro:property name="palm_com_z"        value="${-7.153   / 1000}"/>

    <!-- ========== JOINT ORIGINS - translation (m) ========== -->
    <xacro:property name="stand_world_x"     value="0.0"/>
    <xacro:property name="stand_world_y"     value="0.0"/>
    <xacro:property name="stand_world_z"     value="0.0"/>

    <xacro:property name="base_stand_x"      value="0.0"/>
    <xacro:property name="base_stand_y"      value="0.0"/>
    <xacro:property name="base_stand_z"      value="${71.0 / 1000}"/>

    <xacro:property name="shoulder_base_x"   value="${-0.264   / 1000}"/>
    <xacro:property name="shoulder_base_y"   value="${40.749   / 1000}"/>
    <xacro:property name="shoulder_base_z"   value="${44.051   / 1000}"/>

    <xacro:property name="elbow_shoulder_x"  value="0.0"/>
    <xacro:property name="elbow_shoulder_y"  value="${-404.1815 / 1000}"/>
    <xacro:property name="elbow_shoulder_z"  value="${48.009   / 1000}"/>

    <xacro:property name="wrist_elbow_x"     value="0.0"/>
    <xacro:property name="wrist_elbow_y"     value="${102.5  / 1000}"/>
    <xacro:property name="wrist_elbow_z"     value="${-267.4198 / 1000}"/>

    <xacro:property name="palm_wrist_x"      value="0.0"/>
    <xacro:property name="palm_wrist_y"      value="${-162.621  / 1000}"/>
    <xacro:property name="palm_wrist_z"      value="0.0"/>

    <xacro:property name="finger_x"          value="${32 / 1000}" />
    <xacro:property name="finger_y"          value="${24.93 / 1000}" />
    <xacro:property name="finger_z"          value="0.0" />
    
    <material name="aluminium">
        <color rgba="0.66 0.67 0.71 1.0"/>
    </material>

    <xacro:macro name="link_visual" params="mesh_name">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rover_arm_description/meshes/${mesh_name}.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="aluminium"/>
        </visual>
    </xacro:macro>

    <!-- Links -->
    <link name="world" />

    <link name="stand_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.897"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>        
        </inertial>
        <xacro:link_visual mesh_name="StandLink" />
        <!-- <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision> -->
    </link>

    <!-- Stand World Fixed Joint -->
    <joint name="stand_world_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="world"/>
        <child link="stand_link"/> 
    </joint>

    <link name="base_link">
        <inertial>
            <origin xyz="${base_com_x} ${base_com_y} ${base_com_z}" rpy="0.0 0.0 0.0"/>
            <mass value="${base_mass}"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
        <xacro:link_visual mesh_name="BaseLink" />
    </link>

    <joint name="base_stand_joint" type="revolute">
        <origin xyz="${base_stand_x} ${base_stand_y} ${base_stand_z}" rpy="0.0 0.0 0.0"/>
        <parent link="stand_link"/>
        <child link="base_link"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14159" upper="3.14159" effort="10" velocity="1"/>
    </joint>

    <!-- Shoulder Link -->
    <link name="shoulder_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${shoulder_mass}"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
        <xacro:link_visual mesh_name="ShoulderLink" />
        <!-- <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision> -->
    </link>

    <!-- Shoulder Joint -->
    <joint name="shoulder_base_joint" type="revolute">
        <origin xyz="${shoulder_base_x} ${shoulder_base_y} ${shoulder_base_z}" rpy="${-pi/2} 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="shoulder_link"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="0.0" upper="${pi/2}" effort="10" velocity="1"/>
    </joint>

    <!-- Elbow Link -->
    <link name="elbow_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${elbow_mass}"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
        <xacro:link_visual mesh_name="ElbowLink" />
        <!-- <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision> -->
    </link>

    <!-- Elbow Joint -->
    <joint name="elbow_shoulder_joint" type="revolute">
        <origin xyz="${elbow_shoulder_x} ${elbow_shoulder_y} ${elbow_shoulder_z}" rpy="${pi/2} ${pi} ${pi}"/>
        <parent link="shoulder_link"/>
        <child link="elbow_link"/>
        <axis xyz="0.0 1.0 0.0"/>
        <limit lower="${-pi}" upper="${pi}" effort="10.0" velocity="1.0"/>
    </joint>

    <!-- Wrist Link -->
    <link name="wrist_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${wrist_mass}"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
        <xacro:link_visual mesh_name="WristLink" />
        <!-- <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision> -->
    </link>

    <!-- Wrist Joint -->
    <joint name="wrist_elbow_joint" type="revolute">
        <origin xyz="${wrist_elbow_x} ${wrist_elbow_y} ${wrist_elbow_z}" rpy="${pi/2} 0.0 ${pi}"/>
        <parent link="elbow_link"/>
        <child link="wrist_link"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="${-pi}" upper="${pi}" effort="10.0" velocity="1.0"/>
    </joint>

    <!-- Palm Link -->
    <link name="palm_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${palm_mass}"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
        <xacro:link_visual mesh_name="PalmLink" />
        <!-- <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision> -->
    </link>

    <!-- Palm Joint -->
    <joint name="palm_wrist_joint" type="revolute">
        <origin xyz="${palm_wrist_x} ${palm_wrist_y} ${palm_wrist_z}" rpy="${-pi/2} 0.0 ${-pi/2}"/>
        <parent link="wrist_link"/>
        <child link="palm_link"/>
        <axis xyz="1.0 0.0 0.0"/>
        <limit lower="${-pi}" upper="${pi}" effort="10.0" velocity="1.0"/>
    </joint>

    <!-- Gripper Finger Joints -->
    <!-- Left Gripper Finger -->
    <link name="left_finger_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${finger_mass}"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
        <xacro:link_visual mesh_name="LeftFingerLink" />
        <!-- <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision> -->
    </link>

    <!-- Right Gripper Finger -->
    <link name="right_finger_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${finger_mass}"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
        </inertial>
        <xacro:link_visual mesh_name="LeftFingerLink" />
        <!-- <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision> -->
    </link>

    <!-- Left Finger Joint -->
    <joint name="left_finger_palm_joint" type="revolute">
        <origin xyz="${finger_x} ${-finger_y} ${finger_z}" rpy="0.0 0.0 ${-pi/2}"/>
        <parent link="palm_link"/>
        <child link="left_finger_link"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="${-pi/2}" upper="${pi/2}" effort="10.0" velocity="1.0"/>
    </joint>

    <!-- Right Finger Joint -->
    <joint name="right_finger_palm_joint" type="revolute">
        <origin xyz="${finger_x} ${finger_y} ${finger_z}" rpy="0.0 ${pi} ${-pi/2}"/>
        <parent link="palm_link"/>
        <child link="right_finger_link"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="${-pi/2}" upper="${pi/2}" effort="10.0" velocity="1.0"/>
    </joint>

</robot>
