<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_arm">
  <xacro:macro name="aluminum_material" params="link_name">
    <gazebo reference="${link_name}">
      <visual>
        <material>
          <ambient>0.6 0.6 0.6 1.0</ambient>
          <diffuse>0.7 0.7 0.7 1.0</diffuse>
          <specular>0.8 0.8 0.8 1.0</specular>
        </material>
      </visual>
      <mu1>0.5</mu1>
      <mu2>0.6</mu2>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="blue_pla" params="link_name">
    <gazebo reference="${link_name}">
      <visual>
        <material>
          <ambient>0.68 0.85 0.90 1.0</ambient>
          <diffuse>0.68 0.85 0.90 1.0</diffuse>
          <specular>0.2 0.2 0.2 1.0</specular>
        </material>
      </visual>
    </gazebo>
  </xacro:macro>

  <link name="world" />

  <link name="base_link">
    <inertial>
      <origin xyz="0.001193 0.001028 0.047499" rpy="0 0 -1.570796" />
      <mass value="1.062" />
      <inertia ixx="0.001357" ixy="0" ixz="0" iyy="0.001521" iyz="0" izz="0.001281" />
    </inertial>
    <visual>
      <origin xyz="0.001193 0.001028 0.047499" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/base_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.001193 0.001028 0.047499" rpy="0 0 -1.570796" />
      <geometry>
        <box size="0.090314 0.079456 0.094999" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="base_link"/>

  <link name="elbow_link">
    <inertial>
      <origin xyz="0.139619 -0.000409 0.08721" rpy="1.570796 0 -1.570796" />
      <mass value="2.571" />
      <inertia ixx="0.042429" ixy="0" ixz="0" iyy="0.039541" iyz="0" izz="0.010207" />
    </inertial>
    <visual>
      <origin xyz="0.139619 -0.000409 0.08721" rpy="-1.570796 1.570796 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/elbow_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.139619 -0.000409 0.08721" rpy="1.570796 0 -1.570796" />
      <geometry>
        <box size="0.130697 0.174815 0.409236" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="elbow_link"/>

  <link name="left_finger_link">
    <inertial>
      <origin xyz="-0.013622 -0.083285 0" rpy="0 0 -3.141593" />
      <mass value="0.132" />
      <inertia ixx="0.000455" ixy="0" ixz="0" iyy="0.000455" iyz="0" izz="0.000455" />
    </inertial>
    <visual>
      <origin xyz="-0.013622 -0.083285 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/left_finger_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.013622 -0.083285 0" rpy="0 0 -3.141593" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/left_finger_link_collision.stl" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="left_finger_link"/>

  <link name="palm_link">
    <inertial>
      <origin xyz="-0.003068 0.039999 0" rpy="0 0 1.570796" />
      <mass value="0.453" />
      <inertia ixx="0.000454" ixy="0" ixz="0" iyy="0.000454" iyz="0" izz="0.000483" />
    </inertial>
    <visual>
      <origin xyz="-0.003068 0.039999 0" rpy="0 0 3.141593" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/palm_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.003068 0.039999 0" rpy="0 0 1.570796" />
      <geometry>
        <box size="0.079999 0.079998 0.074999" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="palm_link"/>

  <link name="right_finger_link">
    <inertial>
      <origin xyz="0.013622 -0.083285 0" rpy="3.141593 0 0" />
      <mass value="0.132" />
      <inertia ixx="0.000455" ixy="0" ixz="0" iyy="0.000455" iyz="0" izz="0.000455" />
    </inertial>
    <visual>
      <origin xyz="0.013622 -0.083285 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/right_finger_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.013622 -0.083285 0" rpy="3.141593 0 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/right_finger_link_collision.stl" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="right_finger_link"/>

  <link name="shoulder_link">
    <inertial>
      <origin xyz="0 -0.208547 0.0205" rpy="0 0 0" />
      <mass value="0.505" />
      <inertia ixx="0.009733" ixy="0" ixz="0" iyy="0.000482" iyz="0" izz="0.009859" />
    </inertial>
    <visual>
      <origin xyz="-0.0205 -0.208547 0" rpy="0 -3.141593 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/shoulder_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.208547 0.0205" rpy="0 0 0" />
      <geometry>
        <box size="0.084999 0.476494 0.064999" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="shoulder_link"/>

  <link name="stand_link">
    <inertial>
      <mass value="1.897" />
      <inertia ixx="0.003948" ixy="0" ixz="0" iyy="0.009139" iyz="0" izz="0.00861" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/stand_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.20892 0.104 0.119" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="stand_link"/>

  <link name="wrist_link">
    <inertial>
      <origin xyz="0 -0.064871 0" rpy="0 1.570796 0" />
      <mass value="0.45" />
      <inertia ixx="0.001685" ixy="0" ixz="0" iyy="0.000436" iyz="0" izz="0.001617" />
    </inertial>
    <visual>
      <origin xyz="0 -0.06487 0" rpy="0 -3.141593 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/wrist_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.064871 0" rpy="0 1.570796 0" />
      <geometry>
        <box size="0.069999 0.195497 0.081999" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="wrist_link"/>

  <link name="camera_mount_link">
    <inertial>
      <origin xyz="0 0.02205 0.00615" rpy="0 0 0" />
      <mass value="0.15" />
      <inertia ixx="0.000037" ixy="0" ixz="0" iyy="0.000076" iyz="0" izz="0.000088" />
    </inertial>
    <visual>
      <origin xyz="0 0.02205 0.00615" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/camera_mount_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.02205 0.00615" rpy="0 0 0" />
      <geometry>
        <box size="0.071199 0.044099 0.0323" />
      </geometry>
    </collision>
  </link>
  <xacro:blue_pla link_name="camera_mount_link"/>

  <link name="gripper_camera_optical_frame"/>
  <link name="zed_camera_optical_frame"/>

  <joint name="stand_link_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="world" />
    <child link="stand_link" />
  </joint>
  <joint name="base_link_joint" type="revolute">
    <origin xyz="-0.03596 0.000387 0.0595" rpy="0 0 0" />
    <parent link="stand_link" />
    <child link="base_link" />
    <axis xyz="0 0 1" />
    <limit effort="34.32" velocity="1" lower="-1.570795" upper="1.570795" />
  </joint>
  <joint name="elbow_link_joint" type="revolute">
    <origin xyz="-0.049999 -0.404295 0" rpy="-1.570797 0 -1.570796" />
    <parent link="shoulder_link" />
    <child link="elbow_link" />
    <axis xyz="0 0 1" />
    <limit effort="123.559998" velocity="1" lower="-3.141593" upper="3.141593" />
  </joint>
  <joint name="left_finger_link_joint" type="revolute">
    <origin xyz="0.024931 0.032 0" rpy="0 0 -3.141593" />
    <parent link="palm_link" />
    <child link="left_finger_link" />
    <axis xyz="0 0 1" />
    <limit effort="5.15" velocity="1" lower="-1.570795" upper="0.785398" />
  </joint>
  <joint name="palm_link_joint" type="revolute">
    <origin xyz="-0.000022 -0.162619 -0.00015" rpy="3.141593 0 0" />
    <parent link="wrist_link" />
    <child link="palm_link" />
    <axis xyz="0 1 0" />
    <limit effort="10" velocity="1" lower="-3.141593" upper="3.141593" />
  </joint>
  <joint name="right_finger_link_joint" type="revolute">
    <origin xyz="-0.025098 0.032462 -0.002467" rpy="0 0 3.141593" />
    <parent link="palm_link" />
    <child link="right_finger_link" />
    <axis xyz="0 0 1" />
    <limit effort="5.15" velocity="1" lower="-0.785398" upper="1.570795" />
  </joint>
  <joint name="shoulder_link_joint" type="revolute">
    <origin xyz="0.040749 -0.000139 0.044051" rpy="0 3.141593 0" />
    <parent link="base_link" />
    <child link="shoulder_link" />
    <axis xyz="1 0 0" />
    <limit effort="137.300003" velocity="1" lower="-0.3927" upper="1.5708" />
  </joint>
  <joint name="wrist_link_joint" type="revolute">
    <origin xyz="0.266997 -0.000647 0.102497" rpy="1.570796 -1.570796 0" />
    <parent link="elbow_link" />
    <child link="wrist_link" />
    <axis xyz="1 0 0" />
    <limit effort="27.459999" velocity="1" lower="-1.570795" upper="1.570795" />
  </joint>
  <joint name="camera_mount_link_joint" type="fixed">
    <origin xyz="-0.000069 0 0.0375" rpy="0 0 0" />
    <parent link="palm_link" />
    <child link="camera_mount_link" />
  </joint>
  <joint name="camera_optical_joint" type="fixed">
    <origin xyz="0 0.02 0.035" rpy="0 ${pi/15} 1.57079632679"/>
    <parent link="camera_mount_link"/>
    <child link="gripper_camera_optical_frame"/>
  </joint>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    
    <joint name="base_link_joint">
      <command_interface name="position">
        <param name="min">-1.570795</param>
        <param name="max">1.570795</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="shoulder_link_joint">
      <command_interface name="position">
        <param name="min">-0.3927</param>
        <param name="max">1.5708</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="elbow_link_joint">
      <command_interface name="position">
        <param name="min">-3.141593</param>
        <param name="max">3.141593</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wrist_link_joint">
      <command_interface name="position">
        <param name="min">-1.570795</param>
        <param name="max">1.570795</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="palm_link_joint">
      <command_interface name="position">
        <param name="min">-3.141593</param>
        <param name="max">3.141593</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  
    <joint name="left_finger_link_joint">
      <command_interface name="position">
        <param name="min">-1.570795</param>
        <param name="max">0.785398</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_finger_link_joint">
      <command_interface name="position">
        <param name="min">-0.785398</param>
        <param name="max">1.570795</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find rover_arm_description)/config/ros2_controllers_sim.yaml</parameters>
    </plugin>
  </gazebo>

  <gazebo reference="left_finger_link">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="right_finger_link">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="palm_link">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo>
    <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>

  <gazebo reference="gripper_camera_optical_frame">
    <sensor name="camera_mount_link_sensor" type="camera">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <visualize>false</visualize>
      <topic>/gripper_camera/image</topic>
      <pose>0 0 0 0 0 0</pose>
      <camera>
        <horizontal_fov>0.959931</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>
</robot>