<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_arm">

  <xacro:macro name="aluminum_material" params="link_name">
    <gazebo reference="${link_name}">
      <visual>
        <material>
          <ambient>0.6 0.6 0.6 1.0</ambient>
          <diffuse>0.7 0.7 0.7 1.0</diffuse>
          <specular>0.8 0.8 0.8 1.0</specular>
        </material>
      </visual>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
  </xacro:macro>

  <link name="base_link">
    <inertial>
      <origin xyz="0.001193 0.001028 0.047499" rpy="0 0 -1.570796" />
      <mass value="1.062" />
      <inertia ixx="0.001357" ixy="0" ixz="0" iyy="0.001521" iyz="0" izz="0.001281" />
    </inertial>
    <visual>
      <origin xyz="0.001193 0.001028 0.047499" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/base_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.001193 0.001028 0.047499" rpy="0 0 -1.570796" />
      <geometry>
        <box size="0.090314 0.079456 0.094999" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="base_link"/>

  <link name="elbow_link">
    <inertial>
      <origin xyz="0.139619 -0.000409 0.08721" rpy="1.570796 0 -1.570796" />
      <mass value="2.571" />
      <inertia ixx="0.042429" ixy="0" ixz="0" iyy="0.039541" iyz="0" izz="0.010207" />
    </inertial>
    <visual>
      <origin xyz="0.139619 -0.000409 0.08721" rpy="-1.570796 1.570796 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/elbow_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.139619 -0.000409 0.08721" rpy="1.570796 0 -1.570796" />
      <geometry>
        <box size="0.130697 0.174815 0.409236" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="elbow_link"/>

  <link name="left_finger_link">
    <inertial>
      <origin xyz="-0.013622 -0.083285 0" rpy="0 0 -3.141593" />
      <mass value="0.132" />
      <inertia ixx="0.000455" ixy="0" ixz="0" iyy="0.000455" iyz="0" izz="0.000455" />
    </inertial>
    <visual>
      <origin xyz="-0.013622 -0.083285 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/left_finger_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.013622 -0.083285 0" rpy="0 0 -3.141593" />
      <geometry>
        <sphere radius="0.092785" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="left_finger_link"/>

  <link name="palm_link">
    <inertial>
      <origin xyz="-0.003068 0.039999 0" rpy="0 0 1.570796" />
      <mass value="0.453" />
      <inertia ixx="0.000454" ixy="0" ixz="0" iyy="0.000454" iyz="0" izz="0.000483" />
    </inertial>
    <visual>
      <origin xyz="-0.003068 0.039999 0" rpy="0 0 3.141593" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/palm_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.003068 0.039999 0" rpy="0 0 1.570796" />
      <geometry>
        <box size="0.079999 0.079998 0.074999" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="palm_link"/>

  <link name="right_finger_link">
    <inertial>
      <origin xyz="0.013622 -0.083285 0" rpy="3.141593 0 0" />
      <mass value="0.132" />
      <inertia ixx="0.000455" ixy="0" ixz="0" iyy="0.000455" iyz="0" izz="0.000455" />
    </inertial>
    <visual>
      <origin xyz="0.013622 -0.083285 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/right_finger_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.013622 -0.083285 0" rpy="3.141593 0 0" />
      <geometry>
        <sphere radius="0.092785" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="right_finger_link"/>

  <link name="shoulder_link">
    <inertial>
      <origin xyz="0 -0.208547 0.0205" rpy="0 0 0" />
      <mass value="0.505" />
      <inertia ixx="0.009733" ixy="0" ixz="0" iyy="0.000482" iyz="0" izz="0.009859" />
    </inertial>
    <visual>
      <origin xyz="-0.0205 -0.208547 0" rpy="0 -3.141593 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/shoulder_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.208547 0.0205" rpy="0 0 0" />
      <geometry>
        <box size="0.084999 0.476494 0.064999" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="shoulder_link"/>

  <link name="stand_link">
    <inertial>
      <mass value="1.897" />
      <inertia ixx="0.003948" ixy="0" ixz="0" iyy="0.009139" iyz="0" izz="0.00861" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/stand_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.20892 0.104 0.119" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="stand_link"/>

  <link name="wrist_link">
    <inertial>
      <origin xyz="0 -0.064871 0" rpy="0 1.570796 0" />
      <mass value="0.45" />
      <inertia ixx="0.001685" ixy="0" ixz="0" iyy="0.000436" iyz="0" izz="0.001617" />
    </inertial>
    <visual>
      <origin xyz="0 -0.06487 0" rpy="0 -3.141593 0" />
      <geometry>
        <mesh filename="package://rover_arm_description/urdf/meshes/wrist_link_visual.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.064871 0" rpy="0 1.570796 0" />
      <geometry>
        <box size="0.069999 0.195497 0.081999" />
      </geometry>
    </collision>
  </link>
  <xacro:aluminum_material link_name="wrist_link"/>

  <joint name="base_link_joint" type="revolute">
    <origin xyz="-0.03596 0.000387 0.0595" rpy="0 0 0" />
    <parent link="stand_link" />
    <child link="base_link" />
    <axis xyz="0 0 1" />
    <limit effort="34.32" velocity="1" lower="-1.570795" upper="1.570795" />
  </joint>
  <joint name="elbow_link_joint" type="revolute">
    <origin xyz="-0.049999 -0.404295 0" rpy="-1.570797 0 -1.570796" />
    <parent link="shoulder_link" />
    <child link="elbow_link" />
    <axis xyz="0 0 1" />
    <limit effort="123.559998" velocity="1" lower="-3.141593" upper="3.141593" />
  </joint>
  <joint name="left_finger_link_joint" type="revolute">
    <origin xyz="0.024931 0.032 0" rpy="0 0 -3.141593" />
    <parent link="palm_link" />
    <child link="left_finger_link" />
    <axis xyz="0 0 1" />
    <limit effort="5.15" velocity="1" lower="-1.570795" upper="0.785398" />
  </joint>
  <joint name="palm_link_joint" type="revolute">
    <origin xyz="-0.000022 -0.162619 -0.00015" rpy="3.141593 0 0" />
    <parent link="wrist_link" />
    <child link="palm_link" />
    <axis xyz="0 1 0" />
    <limit effort="10" velocity="1" lower="-3.141593" upper="3.141593" />
  </joint>
  <joint name="right_finger_link_joint" type="revolute">
    <origin xyz="-0.025098 0.032462 -0.002467" rpy="0 0 3.141593" />
    <parent link="palm_link" />
    <child link="right_finger_link" />
    <axis xyz="0 0 1" />
    <limit effort="5.15" velocity="1" lower="-0.785398" upper="1.570795" />
  </joint>
  <joint name="shoulder_link_joint" type="revolute">
    <origin xyz="0.040749 -0.000139 0.044051" rpy="0 3.141593 0" />
    <parent link="base_link" />
    <child link="shoulder_link" />
    <axis xyz="1 0 0" />
    <limit effort="137.300003" velocity="1" lower="-0.3927" upper="1.5708" />
  </joint>
  <joint name="wrist_link_joint" type="revolute">
    <origin xyz="0.266997 -0.000647 0.102497" rpy="1.570796 -1.570796 0" />
    <parent link="elbow_link" />
    <child link="wrist_link" />
    <axis xyz="1 0 0" />
    <limit effort="27.459999" velocity="1" lower="-1.570795" upper="1.570795" />
  </joint>

  <xacro:macro name="joint_interface" params="joint_name">
      <joint name="${joint_name}">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
  </xacro:macro>

  <ros2_control name="RoverArmHardware" type="system">
    <hardware>
      <plugin>rover_arm_hardware/RoverArmHardware</plugin>
      <param name="serial_port">/dev/ttyACM0</param>
      <param name="baud_rate">115200</param>
    </hardware>
    
    <xacro:joint_interface joint_name="base_link_joint" />
    <xacro:joint_interface joint_name="shoulder_link_joint" />
    <xacro:joint_interface joint_name="elbow_link_joint" />
    <xacro:joint_interface joint_name="wrist_link_joint" />
    <xacro:joint_interface joint_name="palm_link_joint" />
    <xacro:joint_interface joint_name="left_finger_link_joint" />
    <xacro:joint_interface joint_name="right_finger_link_joint" />

  </ros2_control>
</robot>